<% provide(:title, 'Utilisation - Tech SEO') %>

<% total_hours = 0 %>
<% team_hours = 0 %>
<% team_available_hours = 0 %>

<% d = Date.new(session[:month_view].year, session[:month_view].month) %>
<% working_days = (d.at_beginning_of_month..d.at_end_of_month).count {|day| !day.saturday? && !day.sunday? } %>
<% working_hours_in_month = working_days * 7.5 %>
<% panel_num = 1 %>

<div id="month_view">
  <h3><%= Date::MONTHNAMES[session[:month_view].month] %>, <%= session[:month_view].year %></h3>
  <p data-no-turbolink><%= link_to '<< Previous Month', decrement_month_view_path %> | <%= link_to 'Next Month >>', increment_month_view_path %></p>
</div>

<h1>Utilisation - Tech SEO</h1>
<div style="clear:both"></div>

<div class="panel-group" id="accordion">

  <% @user.each do |user| %>

    <% @planned_hours.each do |planned_hour| %>
      <% if planned_hour.user_id == user.id %>
          <% total_hours = total_hours + planned_hour.number %>
      <% end %>
    <% end %>

    <% total_available_hours = (working_hours_in_month / 100) * user.normal_hours %>
    <% utilisation = total_hours / ((working_hours_in_month / 100 ) * user.normal_hours) * 100 %>
    <% team_available_hours = team_hours + total_available_hours %>
    <% team_hours = team_hours + total_hours %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= panel_num %>">
          <%= user.name %>: <%= total_hours %> Hours - <strong><%= utilisation.round %>%</strong>
        </a>
      </h4>
    </div>
    <div id="collapse<%= panel_num %>" class="panel-collapse collapse">
      <div class="panel-body">

        <table id="utilisation_breakdown" class="table table-striped table-condensed">
          <thead>
            <tr>
               <th>Hours</th>
               <th>Client</th>
            </tr>
          </thead>
          <tbody>
            <% @planned_hours.each do |planned_hour| %>
              <% if planned_hour.user_id == user.id %>
                <tr>
                  <td><%= planned_hour.number %></td>
                  <td><%= planned_hour.client.name %></td>
                  <!-- <td><%= planned_hour.user.name %></td>
                  <td><%= Date::MONTHNAMES[planned_hour.month.month] %></td>
                  <td><%= link_to 'Show', planned_hour %></td>
                  <td><%= link_to 'Edit', edit_planned_hour_path(planned_hour) %></td>
                  <td><%= link_to 'Destroy', planned_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                </tr>
                <% total_hours = total_hours + planned_hour.number %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <% total_hours = 0 %>
  <% panel_num = panel_num + 1 %>

  <% end %>
  
</div>

<h4 class="utilisation_summary">Team Summary</h4>
<p>The tech team has <%= team_available_hours.round %> hours available, and <%= team_hours.round %> hours planned. The tech team is at <%= (team_hours / team_available_hours * 100).round %>% utilisation</p>