<%= form_for planned_hour, :html => {:class => "form-inline"}, :remote => true do |f| %>
  <% if planned_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(planned_hour.errors.count, "error") %> prohibited this planned_hour from being saved:</h2>

      <ul>
      <% planned_hour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.number_field :number %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :client_id %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :month %>
  </div>
  <div class="form-group">
    <%= f.submit "Update", :class => "btn btn-default"  %>
  </div>
<% end %>
