<% provide(:title, 'Planned Hours') %>
<% total_hours = 0 %>

<div id="month_view">
  <h3><%= Date::MONTHNAMES[session[:month_view].month] %>, <%= session[:month_view].year %></h3>
  <p data-no-turbolink><%= link_to '<< Previous Month', decrement_month_view_path %> | <%= link_to 'Next Month >>', increment_month_view_path %></p>
</div>

<h1>All Planned Hours</h1>
<div style="clear:both"></div>

<% @client.each do |client| %>

<h2><%= client.name %></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Hours</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @planned_hours.each do |planned_hour| %>

      <% if planned_hour.client_id == client.id %>
        <tr>
          <td><%= planned_hour.number %></td>
          <td><%= planned_hour.user.name %></td>
          <td><%= link_to 'Edit', edit_planned_hour_path(planned_hour) %></td>
          <td><%= link_to 'Delete', planned_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

        <% total_hours = total_hours + planned_hour.number %>
      <% end %>
      
    <% end %>

    <tr>
      <td><strong><%= total_hours %></strong></td>
    </tr>
  </tbody>
</table>

<% total_hours = 0 %>

<%= render 'add_hours_form', :this_client => client.id  %>

<% end %>
