<% provide(:title, 'Planned Hours') %>
<% total_hours = 0 %>

<h1>All Planned Hours - not by month!</h1>

<% @client.each do |client| %>

<h2><%= client.name %></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Client</th>
      <th>User</th>
      <th>Month</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @planned_hours.each do |planned_hour| %>

      <% if planned_hour.client_id == client.id %>
        <tr>
          <td><%= planned_hour.number %></td>
          <td><%= planned_hour.client.name %></td>
          <td><%= planned_hour.user.name %></td>
          <td><%= Date::MONTHNAMES[planned_hour.month.month] %></td>
          <td><%= link_to 'Show', planned_hour %></td>
          <td><%= link_to 'Edit', edit_planned_hour_path(planned_hour) %></td>
          <td><%= link_to 'Destroy', planned_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

        <% total_hours = total_hours + planned_hour.number %>
      <% end %>
      
    <% end %>

    <tr class="info">
      <td><strong><%= total_hours %></strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<% total_hours = 0 %>

<%= render 'add_hours_form', :this_client => client.id  %>

<% end %>

<br>

<%= link_to 'New Planned hour', new_planned_hour_path %>
