<% provide(:title, 'Planned Hours') %>

<% panel_num = 1 %>

<%= render 'layouts/month_view_panel' %>

<h1>Plan Hours</h1>

<div class="panel-group" id="accordion">

<% @client.each do |client| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" id="planned_hours_heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= panel_num %>" id="planned_hours_summary-<%= client.id %>">
        <%= client.name %>: <%= client.total_planned_hours(@view) %> hours planned, out of <%= client.paid_for_hours(@view).round %> paid for
        </a><span class="caret"></span>
      </h4>
    </div>

    <div id="collapse<%= panel_num %>" class="panel-collapse collapse">
      <div class="panel-body" id="panel-info-<%= client.id %>">

        <%= render 'planned_hours_breakdown', :this_client => client.id %>

      </div>
      <div class="pull-right" id="copy_last_month_button"><p data-no-turbolink><%= link_to "Copy Last Month", copy_from_last_month_path(:client_id => client.id), :class => "btn btn-default", data: { confirm: 'Definitely copy last month?' } %></p></div>

      <%= render 'add_hours_form', :this_client => client.id  %>

    </div>
  </div>
  <% panel_num = panel_num + 1 %>
  <% end %>
</div>

<div style="clear:both"></div>