<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @user.speciality %>
</p>

<p>
  <strong>Normal hours:</strong>
  <%= @user.normal_hours %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Line manager:</strong>
  <%= @user.line_manager %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
