<%= form_for @new_client_fee, :html => {:class => "form-inline"} do |f| %>
  <% if @new_client_fee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_client_fee.errors.count, "error") %> prohibited this client_fee from being saved:</h2>

      <ul>
      <% @new_client_fee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    £<%= f.number_field :fee %>
  </div>
  <div class="form-group">
    <%= f.collection_select :client_id, @client, :id, :name %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :month, :value => session[:month_view] %> 
  </div>
  <div class="form-group">
    <%= f.submit "Add fee", :class => "btn btn-primary" %>
  </div>
<% end %>
