<% provide(:title, 'Client Fees') %>

<%= render 'static_pages/month_view_panel' %>

<h1>Client Fees - <%= Date::MONTHNAMES[@view.month] %></h1>
<div class="client_fees_container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Client</th>
        <th>Fee</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @client_fees.each do |client_fee| %>
        <tr>
          <td><%= client_fee.client.name %></td>
          <td><%= number_to_currency(client_fee.fee, unit: "£") %></td>
          <td><%= link_to 'Delete', client_fee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= render 'add_client_fees_form' %>

</div>

<div style="clear:both"></div>