<footer class="footer">
  <small>
    ResourcingApp by Rob Green
  </small>
  <nav>
    <ul>
      <li><%= link_to "Plan Hours", planned_hours_path %></li>
      <li><%= link_to "Manage Fees", client_fees_path %></li>
      <li><%= link_to "Manage Leave", holidays_path %></li>
      <li><%= link_to "Manage Users", users_path %></li>
      <li><%= link_to "Manage Clients", clients_path %></li>
    </ul>
  </nav>
</footer>